---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
<!--
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->

<br>
<p>
  <b>March 12, 2024</b>, SUSTech Graduate Topology Seminar
</p>
<details>
  <summary style="color: (70, 130, 180); font-weight: bold; text-decoration: underline;">An introduction to singularity theory, Milnor's fibration theorem and 
    Brieskorn's construction of exotic spheres</summary>
  <ul>
    <li>
    Through this lecture, I will provide an overview of the singularity theory of complex analytic functions and polynomials, appreciating its wide-ranging 
    applications and contributions to various branches of mathematics.  I will begin by introducing fundamental concepts and definitions in this field, then proceed 
    to discuss the invariants and classification of simple singular points, highlighting their significance.  Furthermore, I will illustrate the intriguing 
    relationship between the ADE classification and other mathematical objects such as finite subgroups of the orthogonal group or the intersection form of a fiber 
    manifold.  This connection sheds light on the broader mathematical landscape and enriches our understanding of singularity theory.  Moving forward, I will 
    introduce the Milnor fibration of a singular point and describe its topological structure by Morse theory.  Finally, I will provide a brief introduction to the 
    groundbreaking work of Milnor and Kervaire on the discovery and classification of exotic diffeomorphism structures on 7-dimensional spheres.  Additionally, I 
    will touch upon Brieskorn's explicit construction, which involves a family of polynomial singularities that gives rise to all exotic spheres.  This fascinating 
    exploration demonstrates the profound impact of singularity theory in the realm of differential topology.  
    </li>

    <li>
    <a href="file/paper1.pdf" target="_blank">Slides</a>
    </li>
  </ul>
   
</details>

<br>
<p>
  <b>Apr 16, 2024</b>, SUSTech Graduate Topology Seminar
</p>
<details>
  <summary style="color: rgb(70, 130, 180); font-weight: bold; text-decoration: underline;">From Adams's $v_1$-periodicity to Andrews's motivic $w_1$-periodicity in homotopy groups</summary>
  <ul>
    <li>
    The purpose of this talk is to introduce Michael Andrews's work on discovering exotic periodicity in the homotopy groups of the motivic sphere spectrum and the 
    identification of six infinite families of elements.  Firstly, we will provide a brief overview of the chromatic phenomenon in classical homotopy theory and Adams's 
    8-periodic isomorphism, expressed by a Massey product in the Adams spectral sequence.  Then we will delve into motivic homotopy theory and explore the 
    philosophy behind Haynes Miller's square, which serves as an analogy and connection between the motivic Adams spectral sequence and the classical Adams–Novikov 
    spectral sequence.  This perspective allows us to consider multiplication by the non-nilpotent element $\eta$ as a $w_0$-periodic map, similar to the role 
    played by $2$ for the $v_0$-periodic map.  After defining a Thom reduction map to compare the $E_2$-pages of two spectral sequences, we can reduce the 
    existence of motivic $w_1^4$-periodic maps to the existence of classical $v_1^4$-periodic maps, as initially found by Adams in the early 1960s.
    </li>

    <li>
    <a href="file/paper2.pdf" target="_blank">Slides</a>
    </li>
  </ul>
</details>

<br>
<br>
<p>
  <b>Nov 28, 2023</b>, SUSTech Graduate Topology Seminar
</p>
<details>
  <summary style="color: rgb(70, 130, 180); font-weight: bold; text-decoration: underline;">On "The special fiber of the motivic deformation of the stable homotopy category is algebraic"</summary>
  <ul>
    <li>
    In this talk, I will introduce the main content of the paper ''The special fiber of the motivic deformation of the stable homotopy 
    category is algebraic'' by Bogdan Gheorghe, Guozhen Wang, and Zhouli Xu. They define a Chow-Novikov t-structure on the category of module 
    spectra over cofiber $S^{0,0}/\tau$, and establish that this category is equivalent to the derived category of $BP_*BP$-comodule category
    as stable $\infty$-categories equipped with t-structures. <br>
        
    An exciting application is the isomorphism between the motivic Adams spectral sequence for $S^{0,0}/\tau$ and the algebraic Novikov spectral 
    sequence. This isomorphism enables Isaksen, Wang, and Xu to compute the stable homotopy groups of spheres up to the 90-stem.
    </li>

    <li>
    <a href="file/paper3.pdf" target="_blank">Slides</a>
    </li>
  </ul>
</details>

<br>
<p>
    <b>Dec 19, 2023 (4:20, M1001)</b>,
    <i>Chromatic structures in motivic and equivariant stable homotopy categories</i>
</p>
