---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
<!--
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->

# Normal

<details>
  <summary style="color: green; font-weight: bold; text-decoration: underline;">An introduction to singularity theory, Milnor's fibration theorem and 
    Brieskorn's construction of exotic spheres</summary>
  
   Through this lecture, I will provide an overview of the singularity theory of complex analytic functions and polynomials, appreciating its wide-ranging 
   applications and contributions to various branches of mathematics.  I will begin by introducing fundamental concepts and definitions in this field, then proceed 
  to discuss the invariants and classification of simple singular points, highlighting their significance.  Furthermore, I will illustrate the intriguing 
  relationship between the ADE classification and other mathematical objects such as finite subgroups of the orthogonal group or the intersection form of a fiber 
    manifold.  This connection sheds light on the broader mathematical landscape and enriches our understanding of singularity theory.  Moving forward, I will 
      introduce the Milnor fibration of a singular point and describe its topological structure by Morse theory.  Finally, I will provide a brief introduction to the 
     groundbreaking work of Milnor and Kervaire on the discovery and classification of exotic diffeomorphism structures on 7-dimensional spheres.  Additionally, I 
    will touch upon Brieskorn's explicit construction, which involves a family of polynomial singularities that gives rise to all exotic spheres.  This fascinating 
     exploration demonstrates the profound impact of singularity theory in the realm of differential topology.  

</details>

<p>
    March 12, 2024, 
    <b>Qingrui Qu</b>, 
    <a onclick="toggle_visibility('14');">
    <i>An introduction to singularity theory, Milnor's fibration theorem and Brieskorn's construction of exotic spheres</i></a><br />
</p>
<div id="14" class="toshow" style="display:none">
    <ul>
        <li>Through this lecture, I will provide an overview of the singularity theory.</li>
        <li><a href="24spr/0312-Qu.pdf" target="_blank">Slides</a></li>
    </ul>
</div>
