---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->



<h3>SUSTech</h3>
<p>2024, Spring semester, Advanced Mathematics II, Teaching Assistant  </p>
<p>2023, Spring semester, Advanced Mathematics II, Teaching Assistant  </p>
<p>2022, Fall semester, Advanced Mathematics I, Teaching Assistant  </p>

<h3>BNU</h3>
<p>2022, Spring semester, Algebraic Topology, Teaching Assistant </p>
<p>2020, Fall semester, Differential Geometry, Teaching Assistant </p>
